<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301523012050-nsff5rrd86lhkmn3tmgl5gr9jib8hlr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301523012050-nsff5rrd86lhkmn3tmgl5gr9jib8hlr9</string>
	<key>API_KEY</key>
	<string>AIzaSyD3tpITwhdrzk-VSKd8pM2MWBP1XjGfxCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>301523012050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.hawkford.frederic</string>
	<key>PROJECT_ID</key>
	<string>hawkford-frederic</string>
	<key>STORAGE_BUCKET</key>
	<string>hawkford-frederic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301523012050:ios:bdf9bd66cab241aa28600b</string>
	<key>DATABASE_URL</key>
	<string>https://hawkford-frederic-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>